{% extends bigfoot_theme_bundle ~ ':crud:form.html.twig' %}

{% block form %}
    <div id="list_parameters" data-url="{{ parameters_url }}"></div>
    {{ form_row(form.route) }}
    {{ form_rest(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bigfootseo/js/seo_scripts.js') }}"></script>
{% endblock %}
