{% extends '::base.html.twig' %}

{% block body %}
<div class="widget">
    <div class="widget-head">
        <div class="pull-left">{{ 'MetadataParameter list' | trans }}</div>
        {% if theme.page_content.globalActions is defined and theme.page_content.globalActions|length %}
            <div class="widget-icons pull-right">
                {% for item in theme.page_content.globalActions.items %}
                    {% include 'BigfootCoreBundle:menu:item.html.twig' %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="clearfix"></div>
    </div>

    <div class="widget-content">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ 'Id' | trans }}</th>
                <th>{{ 'Route' | trans }}</th>
                <th>{{ 'Parameters' | trans }}</th>
                <th>{{ 'Actions' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_parameter_metadataparameter_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.route }}</td>
                    <td>
                        <ul>
                            <li>
                                {% for parameter in entity.parameters %}
                                    {{ parameter.name }}
                                {% endfor %}
                            </li>
                        </ul>
                    </td>

                    <td>
                        <div class="btn-group">
                            <a class="btn btn-mini" href="{{ path('admin_parameter_metadataparameter_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a>
                            <a class="btn btn-mini" href="{{ path('admin_parameter_metadataparameter_delete', { 'id': entity.id }) }}"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}