{% extends 'BigfootCoreBundle::base.html.twig' %}

{% block body -%}
    <h1>MetadataParameter list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Route</th>
                <th>Parameters</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_parameter_metadataparameter_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.route }}</td>
                <td>
                    <ul>
                        <li>
                            {% for parameter in entity.parameters %}
                                {{ parameter.name }}
                            {% endfor %}
                        </li>
                    </ul>
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_parameter_metadataparameter_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_parameter_metadataparameter_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_parameter_metadataparameter_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
